<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsoteam.horoscopes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/fb_login_protocol_scheme" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
<activity
            android:name="com.wsoteam.horoscopes.presentation.crystals.shop.ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".presentation.form.FormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Form" />
        <activity
            android:name=".presentation.premium.PremiumHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Premium" />
        <activity
            android:name=".presentation.onboarding.FinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />
        <activity
            android:name=".presentation.onboarding.AppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />
        <activity
            android:name=".presentation.onboarding.SubscriptionTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />
        <activity
            android:name=".presentation.onboarding.PrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />
        <activity
            android:name=".presentation.onboarding.EnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle"></activity>
        <activity
            android:name=".presentation.premium.PaySuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Premium" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />
        <activity
            android:name=".presentation.crystals.StoriesOnboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />
        <activity
            android:name=".presentation.stories.StoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />

        <service
            android:name=".notification.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".notification.AlarmReceiver" />
        <receiver android:name=".notification.EveningAlarmReceiver" />
        <receiver android:name=".utils.interceptor.ShareBroadcast">
            <intent-filter>
                <action android:name="com.wsoteam.horoscopes.Config.ACTION_SHARE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.loolhorastrolol.wsolol"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>